

/* Header Section Start Here */

@media screen and (min-width:577px) and (max-width:768px) {
    .header-top{
        flex-direction: column;
        padding: 30px;
    }

    .header-top-left {
       
        margin-bottom: 60px;
    }
    .box {
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        padding: 15px;
        margin: -15px;
    }
}

/* Header Section End Here */
/* -------------------------------- */