 * {
     margin: 0;
     padding: 0;
 }

 /* Common Css Style Start Here */

 .container {
     max-width: 1140px;
     margin: 0 auto;
 }

 body {
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 /* Common Css Style End Here */
 /* -------------------------------- */



 /* Header Section Start Here */

 .header-section {}

 .header-top-section {
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
 }

 .header-top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 90px;
 }

 .header-top-left {
     display: flex;
     justify-content: center;
     align-items: center;
 }



 .logo img {
     width: 86.041px;
     height: 40px;
     margin-right: 15px;
 }

 .logo-name {
     text-align: center;
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 .span-1 {
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .header-top-right {}

 .menu-items {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .menu-items ul {
     display: flex;
     justify-content: space-between;
 }

 .menu-items ul li {
     list-style: none;
     margin-right: 36px;
 }

 .box {
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     padding: 15px 25px;
     margin: -15px;
 }

 .box a {
     text-decoration: none;
 }

 .icons-1 {
     color: #F61C0D;
     margin: 0 5px;
 }


 /* Header banner Section Start Here */

 .header-banner-section {
     background-image: url('/images/Group\ 14.png');
     height: 600px;
     width: 100%;
     background-repeat: no-repeat;
     background-position: bottom left;
     background-size: contain;
 }

 .header-banner {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header-banner-left h3 {
     color: #0B0223;
     text-align: center;
     font-family: Work Sans;
     font-size: 48px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
 }

 .header-banner-left h1 {
     text-align: center;
     font-family: Work Sans;
     font-size: 95px;
     font-style: normal;
     font-weight: 800;
     line-height: normal;
     text-transform: uppercase;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .header-banner-left ul {
     color: #534C64;
     font-family: Work Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     text-transform: lowercase;

 }

 .header-banner-left ul li {
     list-style: none;
     margin: 10px;
 }

 .header-banner-left ul li {}

 .header-banner-right img {
     max-width: 100%;
     height: 500px;
 }

 .btn-1 {
     border: none;
     padding: 21px 40px;
     border-radius: 48px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     color: #FFF;
     font-family: Work Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
     margin-right: 15px;
     margin-top: 50px;
 }

 .btn-2 {
     border: none;
     border-radius: 48px;
     background: #4EC5F7;
     padding: 21px 40px;
     color: #FFF;
     font-family: Work Sans;
     font-size: 20px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
 }
 .play-icon{
    color: #FF42A5;
 }
 .download-icon{
    color: #FF42A5;
 }
 .usser-icon{
    color: rgb(182, 227, 182);
 }










 /* Header banner Section End Here */
 /* -------------------------------- */

 /* Header Section End Here */
 /* -------------------------------- */